<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/fragments :: head(title = 'KEALIFORNIA reservation')">
</head>
<body>

<header role="banner" th:replace="fragments/fragments :: header">
    <link rel="stylesheet" th:href="@{../static/css/datepicker.css}">
</header>


<!--this doesn't do anything:P-->
<div mbsc-form>
    <div class="mbsc-grid mbsc-form-grid">
        <div class="mbsc-row">
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <label>
<!--                    Mobile-->
<!--                    <input mbsc-input id="demo-calendar-mobile" data-input-style="box" data-label-style="stacked" />-->
                </label>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <label>
<!--                    Desktop-->
<!--                    <input mbsc-input id="demo-calendar-desktop" data-input-style="box" data-label-style="stacked" />-->
                </label>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <label>
<!--                    Header text-->
<!--                    <input mbsc-input id="demo-calendar-header" data-input-style="box" data-label-style="stacked" />-->
                </label>
            </div>
        </div>
    </div>
</div>



<!--Select dates-->
<div class="container-fluid mt-2">

    <form id="select-dates">
        <h2>Please select dates</h2>
        <div class="row">
            <div class="form-group col-sm">
                <label for="start-date">FROM</label>
                <input type="date" class="form-control" id="start-date" placeholder="Enter date">
            </div>
            <div class="form-group col-sm">
                <label for="end-date">TO</label>
                <input type="date" class="form-control" id="end-date" placeholder="Enter date">
            </div>
        </div>
        <div class="dropdown mb-3 col text-center" id="selectNoOfGuests">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                How many guests are staying?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" th:attr="data-noOfGuests=${1}">1</a>
                <a class="dropdown-item" href="#" th:attr="data-noOfGuests=${2}">2</a>
                <a class="dropdown-item" href="#" th:attr="data-noOfGuests=${3}">3</a>
                <a class="dropdown-item" href="#" th:attr="data-noOfGuests=${4}">4</a>
                <a class="dropdown-item" href="#" th:attr="data-noOfGuests=${5}">5</a>
            </div>
        </div>
<!--        <div align="center">
            <a id="showRoomTypesButton" class="btn btn-outline-dark btn-lg btn-block">Show available types of room</a>
        </div>-->
    </form>

    <div id="roomContainer">
    <!--        here comes available rooms table-->
    </div>

    <div id="userInfoContainer">
    <!--        here comes user information input field-->
    </div>

</div>


<!--Confirmation Modal-->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Room successfully reserved!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">First Name:</div>
                    <div class="col-sm" id="confirm-first-name"></div>
                </div>
                <div class="row">
                    <div class="col-sm">Last Name:</div>
                    <div class="col-sm" id="confirm-last-name"></div>
                </div>
                <div class="row">
                    <div class="col-sm">Email:</div>
                    <div class="col-sm" id="confirm-email"></div>
                </div>
                <div class="row">
                    <div class="col-sm">Dates:</div>
                    <div class="col-sm" id="confirm-dates"></div>
                </div>
                <div class="row">
                    <div class="col-sm">Room Type:</div>
                    <div class="col-sm" id="confirm-room-type"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-dark" id="confirmBookingButton">Confirm</a>
                <a type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>



<footer class="site-footer" role="contentinfo" th:replace="fragments/fragments :: footer">
</footer>
<!-- END footer -->

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script th:src="@{/js/Bookings/Datepicker.js}"></script>-->
<!--
<script th:src="@{/js/Bookings/bookRooms.js}"></script>
-->

<!--moment.js library for handling date and time-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" crossorigin="anonymous"></script>

<script th:src="@{/js/Bookings/getData.js}"></script>
<script th:src="@{/js/Bookings/bookRooms.js}"></script>
<script th:src="@{/js/Bookings/presentData.js}"></script>


</body>
</html>