<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/fragments :: head(title = 'KEALIFORNIA')">
</head>
  <body>
    
    <header role="banner" th:replace="fragments/fragments :: header">
    </header>
    <!-- END header -->

    <div class="top-shadow"></div>

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('images/hero_1.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate">
              <div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>
              <h1 class="mb-4"><span>Privately Copenhagen. An intimate retreat</span></h1>
              <p class="mb-5 w-75">The Hotel KEAlifornia is both a landmark & a luxury retreat, beloved and cherished by visitors. Get carried away by Copenhagen bubbly lifestyle.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url('images/hero_2.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-7 text-center col-sm-12 element-animate">
              <div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>
              <h1><span>The charm of a private mansion</span></h1>
              <p class="mb-5 w-75">Each 45 bedrooms and 7 suites preserve the spirit of the place whilst updating it once again to suit today’s styles. The interior designer has embraced the Hotel KEAlifornia historic aesthetic and married it effortlessly with contemporary comfort. </p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- END slider -->
    </div>
    
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-bookmark text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Free Parking & Free Charging Station</h3>
                <p>We are offering free parking spots for any of our guests and 25 free charging stations as well as disabled-friendly services with companion upon request.</p>
              </div>
            </div>  

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Breakfast included in the deal</h3>
                <p>Hotel KEAlifornia has an evening restaurant and a café. The charming restaurant serves seasonal menus of the day as well as delicious à la carte dishes featuring fresh raw ingredients prepared with the utmost care and affection. </p>
              </div>
            </div> 

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-leaf text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Wellness facilities </h3>
                <p>Don’t miss out on Hotel KEAfornia’s unique Spa & Wellness area with indoor and outdoor facilities, including a large roof terrace spa. Pamper yourself with one of the wellness area’s many treatment options and wide range of beauty products. Enjoy the relaxing atmosphere in the hall or a drink in the cosy lobby bar.</p>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2>We Are Reliable</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4 order-lg-1">
            <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('images/about_1.png');"></div></div></div>
          </div>

          <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="ion ion-leaf display-4 text-primary"></span>
                <h3>Free Wifi</h3>
                <p>We are offering our guests a good quality internet connection included into the booking.</p>
              </div>
            </div>

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="ion ion-android-bulb display-4 text-primary"></span>
                <h3>Pets</h3>
                <p>Pets welcome upon request.</p>
              </div>
            </div>

          </div>
          
          <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="ion ion-alert-circled display-4 text-primary"></span>
                <h3>Public Transportation</h3>
                <p>We have got a train station as well as a Metro station near our hotel (5 Km). You can as well take the free shuffle bus to the city center just in front of the Hotel. The airport is situated at 15 Km from our location. </p>
              </div>
            </div>

            <div class="feature-1 d-md-flex">
              <div class="align-self-center">
                <span class="ion ion-android-happy display-4 text-primary"></span>
                <h3>Weekly Mini-Golf tournaments </h3>
                <p>If you are an active person and a long-stay guest you can join our weekly mini-golf marathons for free!</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>

    
    <section class="section element-animate">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-7 order-md-2">
            <div class=""><div class="frame"><img src="images/about_2.jpg" alt="Image" class="img-fluid"></div></div>
          </div>
          <div class="col-md-5 pr-md-5 mb-5">
            <div class="block-41">
              <h2 class="block-41-heading mb-5">Some big picture</h2>
              <div class="block-41-text">
                <p>Some short text</p>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

   

    <section class="section border-t pb-0">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Our rooms</h2>
            <p class="mb-5 lead">Description</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Ducting Design in Colorado</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_1.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Tanks Project In California</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_2.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Structural Design in New York</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_3.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Stacks Design</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_4.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Intercate Custom</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_1.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="project-single.html" class="link-thumbnail">
              <h3>Banker Design</h3>
              <span class="ion-plus icon"></span>
              <img src="images/img_2.png" alt="Image" class="img-fluid">
            </a>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    <section class="section bg-light block-11">
      <div class="container"> 
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Happy Clients</h2>
          </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="images/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Companies Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Staff is excellent and really friendly. They have got tasty food and beautiful hotel! I will definitely be back. The staff is very friendly and always helping there customers out. Highly recommend! &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="images/person_2.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Joshua Darren</h2>
                    <span class="meta">Companies Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="images/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Companies Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="images/person_3.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">John Smith</h2>
                    <span class="meta">Companies Client</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- END .block-4 -->
    </section>

    <footer class="site-footer" role="contentinfo" th:replace="fragments/fragments :: footer">
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bookings/bookings.js"></script>

    <script src="js/main.js"></script>
    
  </body>
</html>
